{% extends 'base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" action="/auth/login/" method="POST">
                    {% csrf_token %}
                    <h1>Login</h1>
                    <h2>Polyp Image Segmentation</h2>
                    {% if error %}
                    <p class="text-muted"> {{ error }}</p> 
                    {% endif %}
                    <input type="text" name="username" placeholder="Username"> 
                    <input type="password" name="password" placeholder="Password"> 
                    <a class="forgot text-muted" href="#">Forgot password?</a> 
                    <input type="submit" name="" value="Login" href="#">                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}