{% extends 'poly_base.html' %}

{% block page_meta %}

<link href="/static/assets/css/progess.css" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
{% endblock %}

{%block page_name%}
Detection
{%endblock%}


{% block nav %}
<ul class="nav">
  <li class="nav-item  ">
    <a class="nav-link" href="/polyp/dashboard/">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/polyp/add_dataset/">
      <i class="material-icons">bubble_chart</i>
      <p>Add dataset</p>
    </a>
  </li>
  <li class="nav-item  ">
    <a class="nav-link" href="/polyp/view_all_image/">
      <i class="material-icons">content_paste</i>
      <p>View all image</p>
    </a>
  </li>
  <li class="nav-item active ">
    <a class="nav-link" href="/polyp/detection/">
      <i class="material-icons">library_books</i>
      <p>Detection</p>
    </a>
  </li>
  <!-- <li class="nav-item ">
    <a class="nav-link" href="./icons.html">
      <i class="material-icons">bubble_chart</i>
      <p>Icons</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="./map.html">
      <i class="material-icons">location_ons</i>
      <p>Maps</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="./notifications.html">
      <i class="material-icons">notifications</i>
      <p>Notifications</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="./rtl.html">
      <i class="material-icons">language</i>
      <p>RTL Support</p>
    </a>
  </li>
  <li class="nav-item active-pro ">
    <a class="nav-link" href="./upgrade.html">
      <i class="material-icons">unarchive</i>
      <p>Upgrade to PRO</p>
    </a>
  </li> -->
</ul>
{% endblock %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
            {%if result.result%}
            <div class="card-header card-header-success">
              <h4 class="card-title">Image uploaded successfully</h4>            
            </div>
            {%endif%}
              {%if error %}            
              <div class="card-header card-header-danger">
                <h4 class="card-title">Error</h4>    
                <p class="card-category">{{ error }}</p>        
              </div>
              {%endif%}
          <div class="card-header card-header-primary">
            <h4 class="card-title">Detect image</h4>
            <p class="card-category">Please choose your image for detection</p>
          </div>
          <div class="card-body">
            
            <form action="/polyp/detection/" method="POST" enctype="multipart/form-data" >
              {% csrf_token %}                            
              <input type="file" name="image" id="inp_image" class="btn btn-primary pull-right" accept="image/*" required>
              <button type="submit" name="submit" class="btn btn-primary pull-right" id="btn_detect">Detect images</button>
              <div class="clearfix"></div>
            </form>
          </div>
          
        </div>
      </div>
      <div class="col-md-4"> 
        <div class="card card-chart">
          <div class="progrss_container" id ="progrss_container" style="display: none;"> 
            <div class="card-header card-header-success">              
              <div class="ct-chart" id="dailySalesChart">
                  <p>Detecting...</p>
              </div>
            </div> 
            <div class="card-body">
                                  
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="inner-circle"></div>
                    <div class="progress-value"><span>98</span>%</div>
                </div>
              
            </div>
          </div>   
        </div> 
        {% if detected_image %}      
          <div class="card card-chart">              
              <div class="card-header card-header-success">              
                <div class="ct-chart" id="dailySalesChart">
                    <img src="{{ detected_image }}" width="260px"  />
                </div>
              </div>
            <div class="card-body">
                <!-- <h4 class="card-title">{{ dataset.class_name }}</h4> -->
                <!-- <p class="card-category">
                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
            </p> -->
            </div>
            <div class="card-footer">
                <div class="stats">
                <i class="material-icons text-success">done_all</i> Detected
                </div>
            </div>
          </div>
          {% endif %}
      </div>
      <div class="col-md-3"> 
        </div>

    </div>
  </div>
</div>

<script>

$("#btn_detect").click(function(){
  
  if ($('#inp_image').val()) {
    $("#progrss_container").show();
    $('.progress-value > span').each(function(){
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        },{
            duration: 10000,
            easing: 'swing',
            step: function (now){
                $(this).text(Math.ceil(now));
            }
        });
    });
  }
});

</script>
{% endblock %}